/* 
    Created on : 22 de jan. de 2025, 17:59:39
    Author     : Felipe Santos Ribas
*/

#textField{
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.3) , 15, 0.0 , 0 , 10 );
}

.button{
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.button:hover {
    -fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.1) , 100, 0.0 , 0 , 50 );
}

.button:pressed {
    -fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.3) , 100, 0.0 , 0 , 50 );
}

.root{
    -fx-background-color: #050d1a;
}

#btn1{
    -fx-background-color: linear-gradient(#162752, #0b193b);
}

#btn2{
    -fx-background-color: linear-gradient(#1e3064, #162752);
}

#btn3{
    -fx-background-color: linear-gradient(#293c75, #1e3064);
}

#btn4{
    -fx-background-color: linear-gradient(#f07016, #ff6d05);
    -fx-font-size: 20px;
}